{% extends "base.html" %}


{% block extra_head %}
<style>
    .card {
        transition: transform .2s;
        /* Animation */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }



    .card-title {
        font-size: 1.25rem;
        /* Larger title font */
        font-weight: bold;
    }

    .card-text {
        font-size: 0.9rem;
        /* Slightly smaller text for details */
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}


{% block content %}
<div class="container mt-4">

    {% include 'flash_messages_template.html' %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>Nederlandse Films</h1>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.film_add') }}" class="btn btn-primary">Add New Film</a>
        {% endif %}
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for film in films %}
        <div class="col">
            <div class="card h-100">
                {% if film.poster_url %}
                <img src="{{ url_for('static', filename='film_pics/' + film.poster_url) }}" class="card-img-top"
                    alt="{{ film.titel }}">
                {% else %}
                <img src="{{ url_for('static', filename='film_pics/no_image_available.png') }}" class="card-img-top"
                    alt="No image available">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ film.titel }}</h5>
                    <p class="card-text">Regisseur: {{ film.regisseur.voornaam }} {{ film.regisseur.achternaam }}</p>
                    <p class="card-text">Jaar: {{ film.jaar }}</p>
                    <a href="{{ url_for('main.film_detail', id=film.id) }}" class="btn btn-primary">Lees Meer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}